#timeline {
  --button-size: 40px;
  height: 60px;
  width: 100vw;
  overflow-x: scroll;
  justify-content: start;
  box-shadow: 0 0 10px 2px #0008;
  border-bottom: 1px solid #333;

  > button {
    height: 100%;
    width: var(--button-size);
    font-family: monospace;
    background: none;
    border: none;
    border-right: 1px solid var(--border-1);
    background-color: var(--bg-1);
    color: #aaa;
    flex-shrink: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    cursor: pointer;
    border-radius: 0;

    &.has-state {
      background-color: var(--bg-2);
      color: white;
    }
    &:hover {
      background-color: var(--bg-3);
    }
    &.onion-before {
      outline: 2px solid #fff4;
      outline-offset: -2px;
    }
    &.onion-after {
      outline: 2px solid #fff4;
      outline-offset: -2px;
    }

    &.is-current {
      outline: 2px solid cornflowerblue;
      outline-offset: -2px;
    }
  }
}

#sidebar {
  width: 400px;
  border-right: 1px solid var(--border-1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

#inputs {
  height: 400px;
  border-bottom: 1px solid var(--border-1);
  resize: vertical;
  overflow: scroll;
}

#state {
  position: absolute;
  inset: 0;
  overflow: scroll;
}

#render {
  &:focus {
    outline: 2px solid #f008;
    outline-offset: -2px;
  }
}

#onion-render {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: transparent;
}
#camera-overlay {
  cursor: move;
  position: absolute;
  inset: 0;
  display: none;
}
