:root {
  --bg: #121212;
  --fg: white;
  --color: #e1e1e1;
  --accent: #1e88e5;
  --border: #3a3a3a;
  --hover: #2f2f2f;
}

body {
  margin: 0;
  color: var(--color);
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 2ch;
  background: black;
}
